<div>
  <h1><%= @passenger.name %></h1>
  <div class="avatar-image">
    <%= image_tag("http://www.randomkittengenerator.com/cats/rotator.php", :alt => "a photo of our furry passenger cat friend") %>
  </div>
  <br>
  <!--  <h2>By: <%#= @driver.author.name %></h2>-->
  <h4><strong>Phone Number:</strong> <%= @passenger.phone_num %></h4>
  <li><%= button_to "Edit", edit_passenger_path(@passenger), :class => "button", method: :get %></li>
  <li><%= button_to "Delete", passenger_path(@passenger), :class => "button", method: :delete, data: {confirm: "Are you sure?"}%></li>
</div>
<div class="profile-spacer"></div>
<!--<p><%#= link_to "Return to Book List", books_path %></p> -->