<% if @driver.errors.any? %>
  <p class="errors">
    <i>Please adjust the following and try again!</i>
    <br>
    <% @driver.errors.each do |column, message| %>
      <strong>- <%= column.capitalize %></strong> <%= message %>
      <br>
    <% end %>
  </p>
<% end %>

<%= form_with model: @driver, class: 'create-driver' do |f| %>
  <h4><%= f.label "Drivers >> #{action_name}" %></h4>
<!--  <p>Please provide the following information to edit your data in our database:</p>-->
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :vin %>
  <%= f.text_field :vin %>
  <%#= f.select :driver_id, Driver.all.map{ |driver| [driver.name, driver.id] } %>
  <%= f.label :available %>
  <%#= f.select :driver_id, Driver.all.map{ |driver| [driver.available, driver.id] } %>
  <%= f.select :available, [ 'true', 'false' ], :prompt => 'Select One' %>
<!--  <br><br>-->
  <%= f.submit "Save", class: "button" %>
  <div class="form-spacer"></div>
<% end %>

